*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width:100%;
    font: italic;
    font-size: 60px;
}

#main{
    height: 100%;
    width:100%;
    background-color: #D0D4D5;
    position: relative;
}
#nav{
    height: 90px;
    padding: 0 70px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 35px;
    margin-right: 200px;
}
#nav-prt1{
    display:flex ;
    align-items: center;
    justify-content: center;

}
#nav-prt1 h4{
    margin-right: 60px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;

}
#nav-prt2 i{
    margin-right: 60px;
    font-size: 23px;
    font-weight: 400;
   
}
#content{
    width: 100%;
    height: calc(100% - 90px);
    position: relative;
    display: flex;
   
}
#left{
    height: 100%;
    width: 35%;
    padding: 100px 120px;

}
#left h5{
    font-size: 70px;
    padding: 19px;
    text-transform: uppercase;
}
#left p{
    font-size: 20px;
    padding: 19px;
}
#right{
    height: 100%;
    width: 65%;
    position: relative;
    padding: 150px 70px;
    white-space:nowrap;
    overflow-x: auto;
}
#right::-webkit-scrollbar{
    display: none;
}
#left button{
    padding:10px;
    margin:19px;
    background-color: rgb(11, 11, 11);
    text-transform: uppercase;
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
    color: white;
}
.elem{

    height: 580px;
    width: 450px;
    background-color: white;
    position: relative;
    font-weight: 100;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgbg(0,0,0,0.3);
    display: inline-block;
}
.elem img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    

}
.elem button{
    position: absolute;
    bottom: 70px;
    right: 5px;
    background-color: #adc1c7;
    padding: 10px 30px;
    border: #c7ccce;
    border-radius: 5px 5px;
    margin-left: 10px;
    color: black;
    font-size: medium;
    font-weight: 600;
}
.elem h5{
    font-size: 20px;
    position: absolute;
    bottom: 6;
    right: 0;
    background-color: #adc1c7;
    padding: 1px 30px;
    border-radius: 10px;
    font-weight: 200;
}
.elem h4{
    background-color: black;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 25px;
    right: 0;
    border-radius: 10px;
    
    padding: 1px 30px;
}
.elem button:hover{
    color: blue;
    cursor: pointer;
}